#apropos {
    & .half-section {
        position: relative;
        min-height: var(--height-section);
        display: flex;
        flex-direction: column;
        align-items: center;

        &:nth-child(2) {
            justify-content: space-evenly;
        }
    }

    & a {
        position: absolute;
        bottom: 80px;
        width: 30px;
        height: 30px;
        border-bottom: 1px solid white;
        border-right: 1px solid white;
        transform: rotate(45deg);
    }

    & .container-animate-text {
        margin: 80px;
        pointer-events: none;

        & .copy1,
        .copy2,
        .copy3 {
            display: flex;
            white-space: nowrap;
            overflow: hidden;
        }

        & .copy1-wrap,
        .copy2-wrap,
        .copy3-wrap {
            font-size: 140px;
            font-weight: 800;
            letter-spacing: -2px;
            line-height: 135px;
            padding-right: 30px;
        }

        & .copy1-wrap {
            animation: AnimateText1 60s linear infinite;
        }

        & .copy2-wrap {
            animation: AnimateText2 40s linear infinite;
        }

        & .copy3-wrap {
            animation: AnimateText1 100s linear infinite;
        }
    }

    & .biographie {
        padding: 0 250px;
        text-align: justify;
        text-transform: uppercase;
        letter-spacing: 2px;
        line-height: 20px;

        & p {
            margin: 30px 0;
            background: linear-gradient(90deg, transparent 50%, white 50%);
            background-size: 200% 200%;
            -webkit-background-clip: text;
            color: transparent;
            background-position: 0px 0;

            &:nth-child(1) {
                animation-delay: 0.4s;
            }
            &:nth-child(2) {
                animation-delay: 0.3s;
            }
            &:nth-child(3) {
                animation-delay: 0.2s;
            }
            &:nth-child(4) {
                animation-delay: 0.1s;
            }
        }

        .ApparitionTexteBtiographie {
            animation: ApparitionTexteBtiographie 1s ease-in forwards;
        }

        @keyframes ApparitionTexteBtiographie {
            100% {
                background-position: -100% 0;
            }
        }

        &-trait {
            width: 1px;
            height: 160px;
            background: rgba(255, 255, 255, 0.5);
        }
    }
}

.stroke {
    color: transparent;
    -webkit-text-stroke: 1px #ffffff;
}

.tiny {
    font-weight: 200;
}

.italic {
    font-style: italic;
}

@keyframes AnimateText1 {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes AnimateText2 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
