#contact {
    min-height: var(--height-section);
    display: flex;
    flex-direction: column;
    align-items: center;

    .container-contact-logo {
        margin-top: 25vh;
        display: flex;
        width: 60%;
        justify-content: space-around;

        & div {
            overflow: hidden;
        }

        &-mail {
            transform: translateX(-100%);
            &:hover i {
                background: linear-gradient(
                    90deg,
                    #4889f4 25%,
                    #eb483b 25%,
                    #eb483b 50%,
                    #fabd08 50%,
                    #fabd08 75%,
                    #3bab58 75%
                );
                -webkit-background-clip: text;
            }
        }

        &-insta {
            transform: translateY(100%);
            &:hover i {
                background: linear-gradient(
                    72.44deg,
                    #ff7a00 11.92%,
                    #ff0169 51.56%,
                    #d300c5 85.69%
                );
                -webkit-background-clip: text;
            }
        }

        &-github {
            transform: translateX(100%);
            &:hover i {
                background: #ababab;
                -webkit-background-clip: text;
            }
        }

        .revealContactLogos {
            animation: revealContactLogos 1s ease forwards;
        }

        @keyframes revealContactLogos {
            100% {
                transform: translate(0);
            }
        }

        & a {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
        }

        & i {
            font-size: 7vw;
            color: transparent;
            background: #ffffff;
            -webkit-background-clip: text;
        }

        & p {
            font-size: 2em;
        }
    }
}

// MEDIA QUERY

@media (max-width: 768px) {
    #contact {
        & .container-contact-logo {
            width: 100%;
            & p {
                font-size: 20px;
            }

            & i {
                font-size: 50px;
            }
        }
    }
}

@media (max-width: 425px) {
    #contact {
        & .container-contact-logo {
            margin-top: 30vh;

            & p {
                font-size: 15px;
            }

            & i {
                font-size: 45px;
            }
        }
    }
}
