header {
    width: 100%;
    padding: 40px 130px 0 130px;

    & div {
        overflow: hidden;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    & a {
        position: relative;
        animation: revealLinks 0.5s ease forwards;
        animation-delay: 5s;
        transform: translateY(100%);

        & span {
            font-size: 17px;
            transition: 0.3s;
            display: inline-block;
        }

        & .s1 span {
            transform-origin: bottom;
        }

        & .s2 {
            position: absolute;
            top: 0;
            left: 0;
            & span {
                transform-origin: top;
                transform: translateY(100%) rotateX(-90deg);
            }
        }

        &:hover .s1 span {
            transform: translateY(-100%) rotateX(-90deg);
        }

        &:hover .s2 span {
            transform: translateY(0) rotateX(0);
        }
    }

    & .liens {
        display: flex;
        align-items: center;

        & .burger {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: visible;

            &-container {
                opacity: 0;
                pointer-events: none;
                cursor: pointer;
                overflow: visible;
                width: 0px;
                height: 25px;
                z-index: 501;
                animation: revealLogoAndBurger 1s ease forwards;
                animation-delay: 5s;
            }

            // ANIMATION DU BURGER A l'ACTIVATION

            &.active-burger.burger::before {
                animation: animatedBurgerBefore 0.5s ease forwards;
            }

            &.active-burger.burger::after {
                animation: animatedBurgerAfter 0.5s ease forwards;
            }

            &.active-burger .burger-middle-line {
                animation: animatedBurgerMiddleLine 0.5s ease forwards;
            }

            @keyframes animatedBurgerBefore {
                50% {
                    top: 50%;
                    transform: translateY(-50%) rotate(0deg);
                }

                100% {
                    top: 50%;
                    transform: translateY(-50%) rotate(135deg);
                }
            }
            @keyframes animatedBurgerAfter {
                50% {
                    bottom: 50%;
                    transform: translateY(50%) rotate(0deg);
                }

                100% {
                    bottom: 50%;
                    transform: translateY(50%) rotate(225deg);
                }
            }
            @keyframes animatedBurgerMiddleLine {
                49% {
                    opacity: 1;
                }
                50% {
                    opacity: 0;
                }
                100% {
                    opacity: 0;
                }
            }

            // ANIMATION DU BURGER A LA DESACTIVATION

            &.unactive-burger.burger::before {
                animation: unanimatedBurgerBefore 0.5s ease forwards;
            }
            &.unactive-burger.burger::after {
                animation: unanimatedBurgerAfter 0.5s ease forwards;
            }
            &.unactive-burger .burger-middle-line {
                animation: unanimatedBurgerMiddleLine 0.5s ease forwards;
            }

            @keyframes unanimatedBurgerBefore {
                0% {
                    top: 50%;
                    transform: translateY(-50%) rotate(135deg);
                }
                50% {
                    top: 50%;
                    transform: translateY(-50%) rotate(360deg);
                }
                100% {
                    top: 0%;
                    transform: translateY(0%) rotate(360deg);
                }
            }
            @keyframes unanimatedBurgerAfter {
                0% {
                    bottom: 50%;
                    transform: translateY(50%) rotate(225deg);
                }
                50% {
                    bottom: 50%;
                    transform: translateY(50%) rotate(360deg);
                }
                100% {
                    bottom: 0%;
                    transform: translateY(0%) rotate(360deg);
                }
            }
            @keyframes unanimatedBurgerMiddleLine {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }

            &-middle-line {
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                width: 100%;
                height: 2px;
                background: #ffffff;
            }

            &::before {
                content: "";
                height: 2px;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: #ffffff;
                transition: 0.5s;
            }

            &::after {
                content: "";
                height: 2px;
                width: 100%;
                position: absolute;
                bottom: 0;
                left: 0;
                background: #ffffff;
                transition: 0.5s;
            }
        }
    }

    & .portfolio-logo {
        opacity: 0;
        pointer-events: none;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: revealLogoAndBurger 1s ease forwards;
        animation-delay: 5s;

        & img {
            width: 70px;
        }
    }

    // ANIMATION POUR LE REVEAL DES LIENS AU CHARGEMENT DE LA PAGE

    @keyframes revealLinks {
        100% {
            transform: translateY(0%);
        }
    }

    @keyframes revealLogoAndBurger {
        100% {
            opacity: 1;
        }
    }
}

// CONFIGURATION DU MENU BURGER

.burger-menu {
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 0%;
    top: 0;
    left: 0;
    background: #000000;
    z-index: 500;

    &-container-links {
        width: 100%;
        height: 100%;
        font-size: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        & div {
            overflow: hidden;
        }

        & a {
            display: inline-block;
            transform: translateY(100%);
        }

        // CLASS POUR ANIMATION REVEAL DU TEXT DU MENU BURGER

        .reveal-text-burger {
            animation: revealTextBurger 0.5s ease forwards;
            animation-delay: 0.5s;
        }

        @keyframes revealTextBurger {
            100% {
                transform: translateY(0%);
            }
        }

        // CLASS POUR ANIMATION UNREVEAL DU TEXT DU MENU BURGER

        .unreveal-text-burger {
            animation: unrevealTextBurger 0.5s ease forwards;
        }

        @keyframes unrevealTextBurger {
            0% {
                transform: translateY(0%);
            }
            100% {
                transform: translateY(-100%);
            }
        }
    }
}

// CLASS POUR L'ACTIVATION DU MENU BURGER

.active-burger-menu {
    animation: activeBurgerMenu 0.5s ease forwards;
}

@keyframes activeBurgerMenu {
    100% {
        height: 100%;
    }
}

// CLASS POUR LA DESACTIVATION DU MENU BURGER

.unactive-burger-menu {
    animation: unactiveBurgerMenu 1s ease forwards;
}

@keyframes unactiveBurgerMenu {
    0% {
        height: 100%;
    }
    50% {
        height: 100%;
    }
    100% {
        height: 0%;
    }
}

// MEDIA QUERY

@media (max-width: 1024px) {
    header {
        padding: 40px 0 0 0;
    }
}

@media (max-width: 768px) {
    header {
        padding: 40px 50px 0;
        & .liens a {
            opacity: 0;
            pointer-events: none;
        }

        & .portfolio-logo {
            order: -1;
            & img {
                width: 50px;
            }
        }

        & .burger-container {
            // opacity: 1 !important;
            pointer-events: all !important;
            width: 150px !important;
        }
    }

    .burger-menu {
        opacity: 1;
        pointer-events: all;
    }
}

@media (max-width: 425px) {
    header {
        padding: 20px 20px 0;
    }
}
