@import "../utils/mixins";

// MISE EN PAGE DU TEXTE DES SECTIONS

main section h2 {
    @include sectionDesign;
}

.text-section {
    @include sectionCenterText;

    & div {
        overflow: hidden;
        text-align: center;
    }

    & h2,
    p {
        transform: translateY(100%);
    }

    & p {
        animation-delay: 0.3s;
        transition: 0.5s;
    }
}

// CLASS ANIMATION POUR LE REVEAL DES SECTIONS AU SCROLL

.reveal-text-section {
    animation: revealTextSection 1s ease forwards;
}

@keyframes revealTextSection {
    100% {
        transform: translateY(0);
    }
}

#presentation {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 90vh;

    & .presentation-nom {
        position: relative;
        font-size: 8vw;
        font-weight: 100;
        justify-content: center;
        display: flex;
        padding-top: 20vh;
        flex-wrap: wrap;

        & div {
            overflow: hidden;
        }

        & span {
            transform: translateY(-100%);
            display: block;
            animation: revealTextPresentation 1s ease forwards;
            animation-delay: 5.5s;
        }

        & div:nth-child(1) {
            position: relative;

            &::before {
                content: " Développeur Front-End.";
                font-size: 0 !important;
                opacity: 0;
                font-size: 11px;
                letter-spacing: 0;
                text-transform: initial;
                position: absolute;
                right: 0;
                color: #ffffff;
                animation: revealTextPresentationBefore 1s ease forwards;
                animation-delay: 5.5s;
            }
        }

        & div:nth-child(2) {
            margin-left: 5vw;
            position: relative;

            & span {
                transform: translateY(100%);
                animation: revealTextPresentation 1s ease forwards;
                animation-delay: 5.5s;
            }

            &::before {
                content: " Développeur Front-End.";
                opacity: 0;
                font-size: 1.1vw;
                letter-spacing: 0;
                text-transform: initial;
                position: absolute;
                right: 0;
                color: #ffffff;
                animation: revealTextPresentationBefore 1s ease forwards;
                animation-delay: 5.5s;
            }
        }
    }

    // CONFIGURATION LOGO SCROLL DOWN

    & .container-scroll-logo {
        opacity: 0;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        bottom: 10vh;
        left: 50%;
        transform: translateX(-50%);
        animation: revealTextPresentationBefore 1s ease forwards;
        animation-delay: 5s;

        & .container-scroll-logo-text {
            position: relative;
        }

        & .scroll-btn-mobil {
            position: absolute;
            top: 0;
            opacity: 0;
        }

        & .scroll-btn {
            position: relative;
            width: 50px;
            height: 80px;
            border: 3px solid #ffffff;
            border-radius: 25px;

            &-dot {
                width: 10px;
                position: absolute;
                top: 15px;
                left: 50%;
                transform: translateX(-50%);
                height: 10px;
                background: #ffffff;
                border-radius: 50%;
                animation: scrollAnimatedMouse 2s infinite;
            }
        }

        & p {
            padding-top: 20px;
        }
    }

    // ANIMATION SCROLLWEEL POUR LE LOGO DE LA SOURIS

    @keyframes scrollAnimatedMouse {
        100% {
            top: 55px;
            opacity: 0;
        }
    }

    // ANIMATION NOM-PRENOM AU CHARGEMENT

    @keyframes revealTextPresentation {
        100% {
            transform: translateY(0%);
        }
    }

    // ANIMATION TEXTE "DEVELOPPEUR WEB" AU CHARGEMENT

    @keyframes revealTextPresentationBefore {
        100% {
            opacity: 1;
        }
    }
}

// MEDIA QUERY

@media (max-width: 768px) {
    #presentation {
        & .presentation-nom {
            font-size: 80px;
            & div:nth-child(2)::before {
                font-size: 11px;
            }
        }

        // CONFIGURATION BOUTTON SCROLL

        & .container-scroll-logo {
            & p {
                opacity: 0;
            }

            & .scroll-btn-mobil {
                opacity: 1;
            }

            & .scroll-btn {
                width: 45px;
                height: 75px;
                border-color: transparent;

                &-dot {
                    top: 80%;
                    animation: dragAndDrop 2s infinite;
                    width: 15px;
                    height: 15px;
                }

                @keyframes dragAndDrop {
                    100% {
                        top: 20%;
                        opacity: 0;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    main section h2 {
        font-size: 11vw;
    }

    .text-section {
        padding-top: 50px;

        & p {
            font-size: 3vw;
        }
    }

    // CONFIGURATION BOUTTON SCROLL

    #presentation {
        & .container-scroll-logo {
            bottom: 80px;
        }
    }
}

@media (max-width: 575px) {
    #presentation {
        & .presentation-nom {
            & div:nth-child(1) {
                &::before {
                    font-size: 12px !important;
                }

                & span {
                    transform: translateY(100%);
                }
            }
            & div:nth-child(2) {
                &::before {
                    opacity: 0 !important;
                }

                & span {
                    transform: translateY(-100%);
                }
            }
        }
    }
}

@media (max-width: 425px) {
    #presentation {
        & .presentation-nom {
            font-size: 20vw;

            & div:nth-child(2) {
                margin-left: 0;
            }
        }
    }
}
