@import "../utils/mixins";

/* Mise en page de ma présentation */

main section h2 {
    @include sectionDesign;
}

.text-section {
    @include sectionCenterText;
}

#presentation {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    padding: var(--padding-section);

    & .presentation-nom {
        position: relative;
        font-size: 8vw;
        font-weight: 100;
        justify-content: center;
        display: flex;
        padding-top: 20vh;

        & div {
            overflow: hidden;
        }

        & span {
            transform: translateY(-100%);
            display: block;
            animation: revealTextPresentation 1s ease forwards;
            animation-delay: 5.5s;
        }

        & div:nth-child(2) {
            margin-left: 5vw;
            position: relative;

            & span {
                transform: translateY(100%);
                animation: revealTextPresentation 1s ease forwards;
                animation-delay: 5.5s;
            }

            &::before {
                content: " Développeur Front-End.";
                opacity: 0;
                font-size: 1.1vw;
                letter-spacing: 0;
                text-transform: initial;
                position: absolute;
                right: 0;
                color: white;
                animation: revealTextPresentationBefore 1s ease forwards;
                animation-delay: 5.5s;
            }
        }
    }

    & .container-scroll-logo {
        opacity: 0;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        bottom: 10vh;
        left: 50%;
        transform: translateX(-50%);
        animation: revealTextPresentationBefore 1s ease forwards;
        animation-delay: 5s;

        & .scroll-btn {
            position: relative;
            width: 50px;
            height: 80px;
            border: 3px solid white;
            border-radius: 25px;

            &-dot {
                width: 10px;
                position: absolute;
                top: 15px;
                left: 50%;
                transform: translateX(-50%);
                height: 10px;
                background: white;
                border-radius: 50%;
                animation: scrollAnimatedMouse 2s infinite;
            }
        }

        & p {
            padding-top: 20px;
        }
    }

    @keyframes scrollAnimatedMouse {
        100% {
            top: 55px;
            opacity: 0;
        }
    }

    @keyframes revealTextPresentation {
        100% {
            transform: translateY(0%);
        }
    }

    @keyframes revealTextPresentationBefore {
        100% {
            opacity: 1;
        }
    }

    // & h1 {
    //     animation: fallingTitle 1s forwards;
    //     animation-delay: 4.8s;
    // }

    // & p {
    //     visibility: hidden;
    //     animation: fallingTitle 1s forwards;
    //     animation-delay: 5.3s;
    // }

    // @keyframes fallingTitle {
    //     0% {
    //         transform: translateY(-80px);
    //     }
    //     100% {
    //         transform: translateY(0px);
    //         visibility: visible;
    //     }
    // }

    // & .title1 {
    //     overflow: hidden;

    //     & h1 {
    //         transform: translateY(-80px);
    //         font-size: 25px;
    //         font-weight: 200;
    //     }
    // }

    // & .title2 {
    //     overflow: hidden;

    //     & h1 {
    //         animation: fallingTitle 0.7s forwards;
    //         font-size: 90px;
    //         transform: translateY(-105px);
    //         animation-delay: 5.3s;
    //     }
    // }

    // & .title3 {
    //     font-size: 30px;
    //     overflow: hidden;
    //     margin-top: 30px;
    // }

    // & .presentation-split {
    //     display: flex;
    //     justify-content: center;
    // }
}
