#projets {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(235deg, #c9c9c9, #ffffff);
    color: black;
    min-height: 110vh;
    position: relative;

    & .projets-image {
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        grid-gap: 20px;
        justify-content: center;
        padding: 70px 0;

        & :nth-child(1) {
            background-image: url("/images/sophie-bluel.png");
            background-size: cover;
            background-position: center;
        }
        & :nth-child(2) {
            background-image: url("/images/Ohmyfood.png");
            background-size: cover;
            background-position: center;
        }
        & :nth-child(3) {
            background-image: url("/images/Booki.png");
            background-size: cover;
            background-position: center;
        }

        & .projet {
            position: relative;
            height: 220px;
            min-width: 540px;
            border-radius: 14px;
            overflow: hidden;

            &-description {
                overflow: hidden;
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 0;
                background: color(srgb 0 0 0 / 0.8);
                transition: 0.5s;
                transform-origin: top;
                text-align: center;
                padding: 0 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                &-text {
                    color: white;
                    font-size: 50px;
                    background: transparent;
                    margin-top: 20px;
                    pointer-events: none;

                    &2 {
                        color: white;
                        background: transparent;
                        font-weight: 300;
                        text-transform: uppercase;
                        pointer-events: none;
                    }
                }
            }

            & .button-site {
                background: transparent;
                display: flex;
                justify-content: space-evenly;
                margin-bottom: 30px;

                &-voir-code i {
                    font-size: 20px !important;
                }

                & a {
                    background: transparent;
                    border: 3px solid white;
                    font-family: "Urbanist";
                    text-transform: uppercase;
                    color: white;
                    font-weight: 300;
                    padding: 5px 20px;
                    font-size: 20px;
                    display: flex;
                    align-items: center;

                    & i {
                        background: transparent;
                        background: transparent;
                        font-size: 15px;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}

.projet:hover .projet-description {
    height: 100% !important;
}
