@charset "UTF-8";
/* Shadow Into light */
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ysabeau+Infant:ital,wght@0,1;0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,1;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Configuration base */
body {
  width: 100%;
  height: 100vh;
  padding: 0 130px;
  background-color: #4f1414;
  color: white;
  font-family: "Aboreto", cursive;
  transition: 0.2s;
  transition-delay: 0.2s;
  overflow: hidden;
  position: relative;
}

.background {
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
  height: 100vh;
  background-color: black;
}

a {
  color: white;
  text-decoration: none;
  cursor: none;
}

h1,
h2 {
  font-family: "Aboreto", cursive;
}

p {
  font-family: "Shadows Into Light", cursive;
}

/* Configuration du Loader */
#loader {
  position: absolute;
  background-color: #762a2a;
  z-index: 500;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: loader 1s forwards;
  animation-delay: 3.5s;
}

@keyframes loader {
  0% {
    height: 100%;
  }
  100% {
    height: 0;
    visibility: hidden;
  }
}
.texte-loader {
  position: absolute;
  display: flex;
  font-size: 70px;
  overflow: hidden;
  height: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: textMooving 1.5s forwards;
  animation-delay: 2s;
}
.texte-loader p {
  font-size: 80px;
  transition: 2s;
}
.texte-loader p:nth-child(1) {
  animation: texte1 0.3s forwards;
}
.texte-loader p:nth-child(2) {
  animation: texte2 1s forwards;
}
@keyframes textMooving {
  0% {
    top: 50%;
    left: 50%;
  }
  100% {
    top: 50px;
    left: 234px;
  }
}
@keyframes texte1 {
  0% {
    transform: translateY(70px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes texte2 {
  0% {
    transform: translateY(80px);
    opacity: 0;
  }
  50% {
    transform: translateY(80px);
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.ball {
  opacity: 0;
  width: 50px;
  height: 50px;
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  animation: ballMoove 2.3s ease-in-out;
  animation-delay: 1.5s;
}

@keyframes ballMoove {
  0% {
    width: 0px;
    height: 0px;
  }
  20% {
    top: 50%;
    left: 50%;
    width: 208px;
    height: 100px;
    border-radius: 3%;
    opacity: 1;
  }
  30% {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  40% {
    width: 60px;
    height: 60px;
    border-radius: 50% 50% 9% 91%/50% 90% 10% 50%;
  }
  65% {
    width: 50px;
    height: 50px;
  }
  70% {
    border-radius: 50%;
    top: 50px;
    left: 234px;
  }
  90% {
    opacity: 1;
    width: 208px;
    height: 100px;
    top: 50px;
    left: 234px;
  }
  100% {
    border-radius: 3%;
    opacity: 0;
    top: 50px;
    left: 234px;
    width: 208px;
    height: 100px;
  }
}
.opacity0 {
  opacity: 0;
}

.opacity1 {
  opacity: 1;
}

.cursor {
  pointer-events: none;
  position: fixed;
  display: block;
  border-radius: 0;
  transform-origin: center center;
  mix-blend-mode: difference;
  top: 0;
  left: 0;
  z-index: 450;
}

.circle {
  height: 24px;
  width: 24px;
  border-radius: 24px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 400;
  transition: 0.1s;
}

/* Configuration du header */
header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  position: relative;
  transition: 0.3s;
  width: 43%;
  font-size: 17px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  animation: fallingLinks 0.3s forwards;
  visibility: hidden;
  animation-delay: 4.5s;
}
header a:nth-child(2) {
  animation: fallingLinks 0.3s forwards;
  animation-delay: 4.6s;
}
header a:nth-child(3) {
  animation: fallingLinks 0.3s forwards;
  animation-delay: 4.7s;
}
header a:nth-child(4) {
  animation: fallingLinks 0.3s forwards;
  animation-delay: 4.8s;
}
header .active {
  background-color: white;
  color: #4f1414;
}
header a::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: white;
  transition: 0.5s;
  z-index: -2;
}
header a:hover::after {
  width: 100%;
}
header a:hover {
  color: #4f1414;
}
header .portfolio-logo {
  font-family: "Shadows Into Light", cursive;
  font-size: 80px;
}
header .liens {
  display: flex;
  justify-content: space-between;
  width: 45%;
}
@keyframes fallingLinks {
  0% {
    transform: translateY(-130px);
  }
  50% {
    visibility: hidden;
  }
  100% {
    transform: translateY(0px);
    visibility: visible;
  }
}

/* Configuration pour l'affichage des images */
.container-image {
  position: absolute;
  top: 25%;
  right: 15%;
  animation: imageDisplay 2s ease-in-out;
  animation-delay: 5.2s;
  visibility: hidden;
  transition: 0.5s;
}
.container-image .image-display {
  width: 400px;
  height: 500px;
  background-image: url(https://static.actu.fr/uploads/2022/10/221006163039-super-mario-bros-movie.jpg);
  background-position: center;
  background-size: cover;
  border: 6px solid white;
  border-radius: 52% 48% 70% 30%/77% 60% 40% 23%;
  box-shadow: 0px 0px 139px -10px black;
  animation: borderMooving 20s linear infinite;
  transition: 0.3s;
  transition-delay: 0.2s;
}
@keyframes imageDisplay {
  0% {
    transform: scale(0);
  }
  30% {
    transform: scale(1.2);
  }
  60% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
    visibility: visible;
  }
}
@keyframes borderMooving {
  0% {
    border-radius: 52% 48% 70% 30%/77% 60% 40% 23%;
  }
  20% {
    border-radius: 41% 59% 24% 76%/82% 59% 41% 18%;
  }
  40% {
    border-radius: 19% 81% 24% 76%/55% 67% 33% 45%;
  }
  60% {
    border-radius: 62% 38% 34% 66%/36% 67% 33% 64%;
  }
  80% {
    border-radius: 75% 25% 56% 44%/33% 43% 57% 67%;
  }
  100% {
    border-radius: 52% 48% 70% 30%/77% 60% 40% 23%;
  }
}

/* Mise en page de ma présentation */
#presentation {
  width: 50%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 30px;
}
#presentation h1 {
  animation: fallingTitle 1s forwards;
  animation-delay: 4.8s;
}
#presentation p {
  visibility: hidden;
  animation: fallingTitle 1s forwards;
  animation-delay: 5.3s;
}
@keyframes fallingTitle {
  0% {
    transform: translateY(-80px);
  }
  100% {
    transform: translateY(0px);
    visibility: visible;
  }
}
#presentation .title1 {
  overflow: hidden;
}
#presentation .title1 h1 {
  transform: translateY(-80px);
  font-size: 25px;
  font-family: "Shadows Into Light", cursive;
  font-weight: 100;
}
#presentation .title2 {
  overflow: hidden;
}
#presentation .title2 h1 {
  animation: fallingTitle 0.7s forwards;
  font-size: 90px;
  transform: translateY(-105px);
  animation-delay: 5.3s;
}
#presentation .title3 {
  font-size: 30px;
  overflow: hidden;
  margin-top: 30px;
}

/* Mise en page des icons */
#contact {
  margin-top: 110px;
  max-width: 500px;
  display: flex;
  justify-content: space-between;
}
#contact a {
  overflow: hidden;
  height: 80px;
  align-items: center;
  width: 80px;
  display: flex;
  justify-content: center;
  visibility: hidden;
}
#contact i {
  font-size: 60px;
  animation: socialMedias 2s ease-in-out;
  visibility: hidden;
  animation-delay: 5.5s;
}
@keyframes socialMedias {
  0% {
    translate: -70px;
    rotate: 230deg;
  }
  10% {
    opacity: 1;
  }
  20% {
    translate: 10px;
    rotate: 410deg;
  }
  40% {
    translate: -10px;
    rotate: 317deg;
  }
  60% {
    translate: 5px;
    rotate: 377deg;
  }
  80% {
    translate: -5px;
    rotate: 338deg;
  }
  100% {
    visibility: visible;
    rotate: 360deg;
  }
}

.not-hide {
  visibility: visible !important;
}/*# sourceMappingURL=style.css.map */