.cursor {
    pointer-events: none;
    position: fixed;
    display: block;
    border-radius: 0;
    transform-origin: center center;
    mix-blend-mode: difference;
    top: 0;
    left: 0;
    z-index: 450;

    & .circle {
        height: 24px;
        width: 24px;
        border-radius: 24px;
        background-color: #ffffff;
        position: fixed;
        top: 0;
        left: 0;
        pointer-events: none;
        z-index: 400;
    }
}

// MEDIA QUERY

@media (max-width: 768px) {
    .cursor {
        display: none;
    }
}
