/* Configuration du Loader */

#loader {
    position: fixed;

    z-index: 500;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    animation: loader 1s forwards;
    animation-delay: 3.5s;
    overflow: hidden;

    & div {
        height: 50%;
        background: linear-gradient(90deg, #c9c9c9, #ffffff);
    }

    & .part1 {
        position: relative;
        animation: AnimatedPart1 1s ease-in-out forwards;
        animation-delay: 4s;
    }

    & .part2 {
        position: relative;
        animation: AnimatedPart2 1s ease-in-out forwards;
        animation-delay: 4s;

        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            width: 100%;
            height: 1px;
            background-color: #ffffff;
            transition: 0.5s;
            transform: scaleX(0);
            animation: cutEffect 1s ease forwards;
            animation-delay: 3s;
        }

        & img {
            opacity: 0;
            width: 150px;
            pointer-events: none;
            position: absolute;
            top: 0%;
            left: 50%;
            transform: translate(-50%, -50%);
            animation: logoAnimation 3s forwards;
        }
    }
}

.display-none {
    display: none;
}

@keyframes cutEffect {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes logoAnimation {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    40% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
    60% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(360deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(720deg);
        opacity: 1;
    }
}

@keyframes AnimatedPart1 {
    100% {
        transform: translateY(-100vh);
    }
}

@keyframes AnimatedPart2 {
    100% {
        transform: translateY(100vh);
    }
}
