.transition {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    pointer-events: none;
}

.transition div {
    height: 100%;
    width: 25%;
    // transform: scale(0);
    transition: transform 0.5s;
}

.transition div:nth-child(1) {
    background-color: aqua;
}
.transition div:nth-child(2) {
    background-color: red;
}
.transition div:nth-child(3) {
    background-color: blue;
}
.transition div:nth-child(4) {
    background-color: purple;
}
