* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Configuration base */

html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    width: 100%;
    height: 100%;
    background: linear-gradient(235deg, #101010, #343434);
    color: white;
    font-family: "Urbanist";
    transition: 0.2s;
    transition-delay: 0.2s;
    overflow: hidden;
    position: relative;
}

a {
    color: white;
    text-decoration: none;
}
